{% extends 'base.html' %}
{% load static %}

{% block title %}Список автомобилей{% endblock %}

{% block content %}
    <h1>Список автомобилей</h1>
    <div class="row">
        {% for car in cars %}
            <div class="col-md-4 mb-4"> <!-- Отступ между карточками -->
                <div class="card">
                    {% if car.image %}
                        <img src="{{ car.image.url }}" class="card-img-top" alt="Изображение {{ car.model }}">
                    {% else %}
                        <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="Изображение {{ car.model }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
                        <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">Подробнее</a> <!-- Ссылка на детали -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}